body {
  margin: 0;
  font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
.pb-arrow {
	position: relative;
	text-align:left;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    /*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);*/
	z-index: 2209;
	left: 50px; 
	top: 10px; 
	width: 200px;
	margin:20px;
	height:auto;
}
.pb-arrow-content {
	height: auto;
	overflow-y: auto;
	background-color: #FFFFFF;
	padding: 10px;
}
/**
 * 三角箭头
 * 内容区边框颜色
 * 箭头边框颜色
 * 箭头方向
 */
.pb-arrow-out, .pb-arrow-in {
    display: block;
    font-family: simsun;
    font-size: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    width: 0;
}
/*************up*******************/
.pb-arrow-up .pb-arrow-out, .pb-arrow-up .pb-arrow-in{
    border-style: dashed dashed solid;
}
.pb-arrow-up .pb-arrow-out {
    border-color: transparent transparent #CFCFCF;
    border-width: 0 7px 8px;
    left: 28px;
    top: -8px;
}
.pb-arrow-up .pb-arrow-in{
    border-color: transparent transparent #FFFFFF;
    border-width: 0 6px 7px;
    left: 29px;
    top: -7px;
}
/*************right****************/
.pb-arrow-right .pb-arrow-out, .pb-arrow-right .pb-arrow-in {
    border-style: dashed dashed dashed solid;
}
.pb-arrow-right .pb-arrow-out {
    border-color: transparent transparent transparent #CFCFCF;
    border-width: 8px 0 7px 7px;
    right: -7px;
    top: 28px;
}
.pb-arrow-right .pb-arrow-in {
    border-color: transparent transparent transparent #FFFFFF;
    border-width: 7px 0 6px 6px;
    right: -6px;
    top: 29px;
}
/*************down*****************/
.pb-arrow-down .pb-arrow-out, .pb-arrow-down .pb-arrow-in {
    border-style: solid dashed dashed;
}
.pb-arrow-down .pb-arrow-out {
    border-color: #CFCFCF transparent transparent;
    border-width: 8px 7px 0;
    bottom: -8px;
    left: 28px;
    top: auto;
}
.pb-arrow-down .pb-arrow-in {
    border-color: #FFFFFF transparent transparent;
    border-width: 7px 6px 0;
    bottom: -7px;
    left: 29px;
    top: auto;
}
/*************left*****************/
.pb-arrow-left .pb-arrow-out, .pb-arrow-left .pb-arrow-in {
    border-style: dashed solid dashed dashed;
}
.pb-arrow-left .pb-arrow-out {
    border-color: transparent #CFCFCF transparent transparent;
    border-width: 7px 8px 7px 0;
    left: -8px;
    top: 28px;
}
.pb-arrow-left .pb-arrow-in {
    border-color: transparent #FFFFFF transparent transparent;
    border-width: 6px 7px 6px 0;
    left: -7px;
    top: 29px;
}

/*************popTip*****************/
.pb-pop-tip {
	background: none repeat scroll 0 0 #FFF9D9;
    border: 1px solid #FFE8A1;
    border-radius: 1px 1px 1px 1px;
    /*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);*/
    min-height: 10px;
	position: absolute;
	text-align:left;
	z-index: 2209;
	left: 280px; 
	top: 10px; 
	width: 200px;
	margin:20px;
}
.pb-pop-tip .pb-arrow-content {
	background-color: #FFF9D9;
}
.pb-pop-tip2 {
	background: none repeat scroll 0 0 #FFF9D9;
    border: 1px solid #FFE8A1;
    border-radius: 1px 1px 1px 1px;
    /*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);*/
    min-height: 10px;
	position: absolute;
	text-align:left;
	z-index: 2209;
	left: 280px; 
	top: 124px; 
	width: 200px;
	margin:20px;
}
.pb-pop-tip2 .pb-arrow-content {
	background-color: #FFF9D9;
}
/*************up*******************/
.pb-pop-tip-up .pb-arrow-out, .pb-pop-tip-up .pb-arrow-in{
    border-style: dashed dashed solid;
}
.pb-pop-tip-up .pb-arrow-out {
    border-color: transparent transparent #FFE8A1;
    border-width: 0 7px 8px;
    left: 28px;
    top: -8px;
}
.pb-pop-tip-up .pb-arrow-in{
    border-color: transparent transparent #FFF9D9;
    border-width: 0 6px 7px;
    left: 29px;
    top: -7px;
}
/*************right****************/
.pb-pop-tip-right .pb-arrow-out, .pb-pop-tip-right .pb-arrow-in {
    border-style: dashed dashed dashed solid;
}
.pb-pop-tip-right .pb-arrow-out {
    border-color: transparent transparent transparent #FFE8A1;
    border-width: 8px 0 7px 7px;
    right: -7px;
    top: 28px;
}
.pb-pop-tip-right .pb-arrow-in {
    border-color: transparent transparent transparent #FFF9D9;
    border-width: 7px 0 6px 6px;
    right: -6px;
    top: 29px;
}
/*************down*****************/
.pb-pop-tip-down .pb-arrow-out, .pb-pop-tip-down .pb-arrow-in {
    border-style: solid dashed dashed;
}
.pb-pop-tip-down .pb-arrow-out {
    border-color: #FFE8A1 transparent transparent;
    border-width: 8px 7px 0;
    bottom: -8px;
    left: 28px;
    top: auto;
}
.pb-pop-tip-down .pb-arrow-in {
    border-color: #FFF9D9 transparent transparent;
    border-width: 7px 6px 0;
    bottom: -7px;
    left: 29px;
    top: auto;
}
/*************left*****************/
.pb-pop-tip-left .pb-arrow-out, .pb-pop-tip-left .pb-arrow-in {
    border-style: dashed solid dashed dashed;
}
.pb-pop-tip-left .pb-arrow-out {
    border-color: transparent #FFE8A1 transparent transparent;
    border-width: 7px 8px 7px 0;
    left: -8px;
    top: 28px;
}
.pb-pop-tip-left .pb-arrow-in {
    border-color: transparent #FFF9D9 transparent transparent;
    border-width: 6px 7px 6px 0;
    left: -7px;
    top: 29px;
}


/*
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid green;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}
*/